<!-- HOME -->
 <div class="container" ng-init="carregarLojas()">
    <div layout="column">
        <div class="buscarlojas">

            <h1 ng-href="#/loja">Lojas</h1>

            <!-- REPEAT: LOJA & PREVIEW PRODUTOS -->
            <div class="bl-loja" data-ng-repeat="loja in repeatTest">
                <div class="bl-loja-details">
                    <div  ng-click="verLoja()" class="bl-loja-details-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTHeCK18EjU8dQnKzYMt14-j2gfUYMA_oib8IJy3IMfu0GzPcy');"></div>
                    <div class="bl-loja-details-description">
                        <h1 ng-click="verLoja()">
                            Sense SkateShop                            
                        </h1>
                        <h3>Skate & Surf Shop</h3>
                        <p>Pátio Shopping de Guarulhos</p>
                    </div>
                </div>
                <div class="bl-loja-products-vert">
                    <div class="bl-loja-products-vert-table" id="bl-loja-products-vert">
                        <div class="product-list-vertical-table-btn" ng-repeat="products in loja.produtosPreview" style="background-image: url('{{ products.imagem}}')"></div>
                    </div>
                    <script>                       
                        var os = {
                            android: navigator.userAgent.match(/Android/i),
                            ios: navigator.userAgent.match(/iPhone|iPad|iPod/i)
                        };

                        //mobile
                        if (os.android || os.ios) {
                            console.log('ROLL ON MOBILE');                            
                        } else {

                            console.log('MOUSE ON DESK');
                            $("#bl-loja-products-vert-table").mousewheel(function (e, delta) {
                                $(this).scrollLeft(this.scrollLeft + (-delta * 40));
                                e.preventDefault();
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- END HOME -->
