 <div ng-init="carregarLoja()">
    <div layout="column">         
        <div class="loja">
            <!-- SLIDE -->
            <md-grid-list class="loja-slide" md-cols="1" md-row-height="350px">                
                <md-grid-tile class="loja-slide--space">
                    <div class="loja-slide-toolbar">
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                            <md-tooltip md-direction="bottom">Ver avaliação</md-tooltip>
                            <md-icon md-font-icons="material-icons">grade</md-icon>
                        </md-button> 
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                            <md-tooltip md-direction="bottom">Ver horário de abertura</md-tooltip>
                            <md-icon md-font-icons="material-icons">schedule</md-icon>
                        </md-button>                         
                        <div class="loja-slide-toolbar-right">                                                                                
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                                <md-tooltip md-direction="bottom">Ver fotos da loja</md-tooltip>
                                <md-icon md-font-icons="material-icons">local_see</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                                <md-tooltip md-direction="bottom">Ir até a loja</md-tooltip>
                                <md-icon md-font-icons="material-icons">near_me</md-icon>
                            </md-button>
                        </div>                                               
                    </div>

                    <div class="loja-slide-title">
                        <div class="loja-slide-title-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTHeCK18EjU8dQnKzYMt14-j2gfUYMA_oib8IJy3IMfu0GzPcy');">

                        </div>
                        <h1>
                            Sense Skatshop                             
                        </h1>
                        <h3>Skate & Surf Shop  <Span>|</Span>  100 produtos</h3>
                        <p>Pátio Shopping de Guarulhos</p>
                    </div>                
                </md-grid-tile>
            </md-grid-list>
                                    
            <div class="container">
                
                <!-- CATEGORIAS -->
                <div flex class="ranking-category">
                    <div class="ranking-category-table" id="ranking-category-mousewheel">
                        <span class="ranking-category-table-btn"><i class="material-icons" style="font-size:inherit; display: block;">search</i></span>
                        <span class="ranking-category-table-btn">NOVIDADES</span>
                        <span class="ranking-category-table-btn">TÊNIS</span>
                        <span class="ranking-category-table-btn">CAMISETAS</span>
                        <span class="ranking-category-table-btn">ROLAMENTOS</span>
                        <span class="ranking-category-table-btn">SHAPES NACIONAIS</span>                        
                        <span class="ranking-category-table-btn">SHAPES GRINGO</span>                        
                        <span class="ranking-category-table-btn">BLUSAS</span>
                        <span class="ranking-category-table-btn">CAMISAS</span>
                        <span class="ranking-category-table-btn">BONÉS</span>
                        <span class="ranking-category-table-btn">BOINAS</span>                        
                        <span class="ranking-category-table-btn">MOCHILAS</span>
                        <span class="ranking-category-table-btn">CAMISAS FEMININAS</span>
                        <span class="ranking-category-table-btn">MEIAS</span>
                        <span class="ranking-category-table-btn">BLUSÕES</span>                                                
                        <span class="ranking-category-table-btn">LIXAS</span>                        
                    </div>
                    <script hide-xs>

                        var os = {
                            android: navigator.userAgent.match(/Android/i),
                            ios: navigator.userAgent.match(/iPhone|iPad|iPod/i)
                        };

                        //mobile
                        if (os.android || os.ios) {
                            console.log('ROLL ON MOBILE');
                            $("#ranking-category-mousewheel").addClass("pan-x");
                        } else {

                            console.log('MOUSE ON DESK');
                            $("#ranking-category-mousewheel").mousewheel(function (e, delta) {
                                $(this).scrollLeft(this.scrollLeft + (-delta * 40));
                                e.preventDefault();
                            });
                        }                       
                    </script>
                    <style>
                       
                        @supports (touch-action: pan-x) {
                          .pan-x {
                            -ms-touch-action: pan-x;
                            touch-action: pan-x;
                          }
                          /*.pan-x ~ h2::after {
                            display: none;
                          }*/
                        }
                    </style>
                </div>

                <!-- PRODUTOS -->
                <md-grid-list md-cols="2"
                              md-cols-xs="2"
                              md-cols-gt-xs="3"
                              md-cols-gt-sm="4"
                              md-gutter="10px"                              
                              md-row-height="300px">

                    <md-grid-tile class="loja-tile-product" ng-click="verProduto()">
                        <div class="loja-tile-product-img" style="background-image:url('http://static.classictennis.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/c/dc-shoes-landau-s-303010-bgm-00.jpg');"></div>
                        <div class="loja-tile-product-footer">
                            <h3>Tênis DC</h3>
                            <p>R$ 499,00</p>
                        </div>
                    </md-grid-tile>

                    <md-grid-tile class="loja-tile-product">
                        <div class="loja-tile-product-img" style="background-image:url('https://dafitistatic-a.akamaihd.net/p/DC-Shoes-T%C3%AAnis-Dc-Shoes-Linx-Cinza-1690-1828171-1-zoom.jpg');"></div>
                        <div class="loja-tile-product-footer">
                            <h3>Tênis DC</h3>
                            <p>R$ 499,00</p>
                        </div>
                    </md-grid-tile>

                    <md-grid-tile class="loja-tile-product">
                        <div class="loja-tile-product-img" style="background-image:url('https://i2.zst.com.br/images/tenis-dc-masculino-casual-chris-cole-photo5449593-12-9-19.jpg');"></div>
                        <div class="loja-tile-product-footer">
                            <h3>Tênis DC</h3>
                            <p>R$ 499,00</p>
                        </div>
                    </md-grid-tile>                    
                </md-grid-list>
            </div>            
        </div>     
    </div>
 </div>
 
