<!-- PRODUTO -->
 <div ng-init="carregarProduto()">
  <md-progress-linear class="" md-mode="indeterminate" ng-if="carregandoProduto"></md-progress-linear>
    <div layout="column"> 
        
        <div class="produto">
            <!-- SLIDE -->
            <md-grid-list class="produto-slide" md-cols="1" md-row-height="{{ produto.temFotosSecundarias ? '530px':'430px'}}">                
                <md-grid-tile class="loja-slide--space">
                    <div class="loja-slide-toolbar produto-slide-toolbar" layout="row">
                        
                        <md-button ng-if="!isDialog" class="md-icon-button" aria-label="Settings" ng-click="voltarPagina()">
                            <md-icon md-font-icons="material-icons">chevron_left</md-icon>
                        </md-button> 
                        <md-button ng-if="isDialog" class="md-icon-button" aria-label="Settings" ng-click="hideProductDialog()">
                            <md-icon md-font-icons="material-icons">chevron_left</md-icon>
                        </md-button> 
                        <span flex></span>                        
                        <md-button ng-click="verLoja(produto.dadosLoja.url)" style="min-width: 0px;" layout="row">                            
                            <span class="produto-loja-link" style="background-image:url('{{ produto.dadosLoja.fotoperfil }}')"></span>
                            <span class="text-muted" hide-xs>{{ produto.dadosLoja.nome }}</span>
                        </md-button>                        
                        <span flex></span>
                        <div class="loja-slide-toolbar-right">                            
                            <md-button class="md-icon-button"
                                       ng-controller="CatalokoCtrl"
                                       aria-label="Compartilhar"                                       
                                       ng-click="showShareLink(produto.id, 'produto', $event)">                                
                                <md-icon md-font-icons="material-icons">share</md-icon>
                            </md-button>     
                            <!--<md-menu>
                                <md-button class="md-icon-button" aria-label="Settings" ng-click="openMenu($mdOpenMenu, $event)">
                                    <md-tooltip md-direction="bottom">Opções da loja</md-tooltip>
                                    <md-icon md-font-icons="material-icons">more_vert</md-icon>
                                </md-button>

                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="">
                                            <md-icon class="material-icons">favorite_border</md-icon>
                                            Favoritar
                                        </md-button>
                                    </md-menu-item>                                                                      
                                    <md-menu-item>
                                        <md-button ng-click="">
                                            <md-icon class="material-icons">find_replace</md-icon>
                                            Pesquisar relacionados
                                        </md-button>
                                    </md-menu-item>                                                                      
                                </md-menu-content>
                            </md-menu>-->
                        </div>
                    </div>       

                    <div class="produto-img" data-ng-class="!produto.temFotosSecundarias ? 'produto-img-nosecundaries': ''">
                        <div class="produto-img-image" style="background-image:url('{{ produto.fotoPrincipal }}');"></div>
                                                
                        <div class="produto-img-gallery-vert" data-ng-if="produto.temFotosSecundarias">
                            <div class="produto-img-gallery-table" id="produto-img-gallery-roll">
                                <div ng-click="mudarFotoOriginal();" 
                                    class="produto-img-gallery-table-btn" 
                                    style="background-image: url('{{ produto.fotoOriginal }}')">                      
                                </div>
                                <div
                                    ng-repeat="fs in produto.fotoSecundarias" 
                                    ng-click="mudarImagemPresentation($event);" 
                                    class="produto-img-gallery-table-btn" 
                                    style="background-image: url('{{ fs.link }}')">                                    
                                </div>                                                              
                            </div>

                            <script>
                                $("#produto-img-gallery-roll").mousewheel(function (e, delta) {
                                    $(this).scrollLeft(this.scrollLeft + (-delta * 40));
                                    e.preventDefault();
                                });
                            </script>
                        </div>
                    </div>                      
                    <div class="produto-details">
                        <h1 >{{ produto.nome }}</h1>
                        <p>{{ produto.moeda }} {{ produto.preco }}</p>                        
                    </div>                                             
                </md-grid-tile>
            </md-grid-list>
                                    
            <div class="container">
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        DESCRIÇÃO
                    </span>
                    <p class="produto-details-descricao-text">
                       {{ produto.descricao }}
                    </p>
                </div>  
                
                <!--<div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        TAMANHOS    
                    </span>

                    <md-select placeholder="ver tamanhos disponíveis" ng-model="product.sizes" style="min-width: 100px;">
                        <md-option value="40">40</md-option>
                        <md-option value="41">41</md-option>
                        <md-option value="42">42</md-option>
                        <md-option value="43">43</md-option>
                    </md-select>
                </div>-->     
                
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        LOCAL DO PRODUTO
                    </span>
                    <p class="produto-details-descricao-text">
                        {{ produto.logradouro }}
                    </p>
                    <md-button class="md-button md-raised md-primary md-button-fullwidth" ng-click="irParaLocal(produto.urlmaps)">
                        Como chegar lá?
                    </md-button>
                </div> 
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        LOJA
                    </span>
                    <md-button class="md-button md-raised md-accent md-button-fullwidth" ng-click="verLoja(produto.dadosLoja.url)">
                        visitar {{ produto.dadosLoja.nome }} 
                    </md-button>
                </div>                                         
            </div>            
        </div>     
    </div>
 </div>

<!-- PRODUTO PRIMARY ACTION BUTTON -->
<!--<md-button class="md-fab md-accent produto-primary-button" aria-label="Ir para loja" ng-click="irParaLocal(produto.urlmaps)">    
    <md-icon md-font-icons="material-icons">navigation</md-icon      
</md-button>-->
 <!-- END HOME -->
