<!-- HOME -->
 <div>
    <div layout="column"> 
        
        <div class="produto">
            <!-- SLIDE -->
            <md-grid-list class="produto-slide" md-cols="1" md-row-height="500px">                
                <md-grid-tile class="loja-slide--space">
                    <div class="loja-slide-toolbar produto-slide-toolbar">
                        <md-button class="md-button" aria-label="Settings" ng-click="voltarPagina()">
                            <md-tooltip md-direction="bottom">Ver avaliação</md-tooltip>
                            <i class="fa fa-angle-left"></i> &nbsp;VOLTAR
                        </md-button> 
                        <div class="loja-slide-toolbar-right">
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                                <md-tooltip md-direction="bottom">Favoritar</md-tooltip>
                                <i class="fa fa-heart-o"></i>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="">
                                <md-tooltip md-direction="bottom">Opções</md-tooltip>
                                <i class="fa fa-ellipsis-v"></i>
                            </md-button>
                        </div>
                    </div>                     
                    <div class="produto-img">
                        <div class="produto-img-image" style="background-image:url('http://static.classictennis.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/c/dc-shoes-landau-s-303010-bgm-00.jpg');"></div>
                        <!-- todo {galeria de imagem} -->                        
                    </div>  
                    
                    <div class="produto-details">
                        <h1>Tênis DC Shoes Calibri Master</h1>
                        <p>R$ 399,00</p>
                        <h5>3 unidades</h5>
                    </div>                                             
                </md-grid-tile>
            </md-grid-list>
                                    
            <div class="container">
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        DESCRIÇÃO
                    </span>
                    <p class="produto-details-descricao-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>  
                
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        TAMANHOS    
                    </span>

                    <md-select placeholder="ver tamanhos disponíveis" ng-model="product.sizes" style="min-width: 100px;">
                        <md-option value="40">40</md-option>
                        <md-option value="41">41</md-option>
                        <md-option value="42">42</md-option>
                        <md-option value="43">43</md-option>
                    </md-select>
                </div>     
                
                <div class="produto-details-descricao">
                    <span class="produto-details-descricao-markup">
                        LOCAL DO PRODUTO
                    </span>
                    <p class="produto-details-descricao-text">
                        Rua Caramba Meu, 24 - Guarulhos SP
                    </p>
                    <md-button class="md-button md-raised md-primary md-button-fullwidth">
                        Como chegar lá?
                    </md-button>
                </div>                                          
            </div>            


        </div>     
    </div>
 </div>

<!-- PRODUTO PRIMARY ACTION BUTTON -->
<md-button class="md-fab md-accent produto-primary-button" aria-label="Ir para loja">    
    <i class="fa fa-location-arrow fa-2x" style="margin-top:13px;"></i>       
</md-button>
 <!-- END HOME -->
