<!-- HOME -->
 <div ng-init="carregaHome()">
    <div layout="column">         
        <div class="container-fluid">
                        
            <div class="slider"
                 ng-init="loadSlider('img/slider/4.jpg')"
                 style="background-image: url('{{ sliderImage }}');"
                 md-swipe-left="nextSlide()"
                 md-swipe-right="prevSlide()"
                 >
                <div class="slider-control">
                    <div class="slider-control-btn slideIndex1" ng-click="sliderChange($event, 1)" dataimage="img/slider/4.jpg"></div>
                    <div class="slider-control-btn slideIndex2" ng-click="sliderChange($event, 2)" dataimage="img/slider/3.png"></div>
                    <div class="slider-control-btn slideIndex3" ng-click="sliderChange($event, 3)" dataimage="img/slider/1.png"></div>
                </div>
            </div>                                    
            
        </div>      
        
        <div class="container">
            <div style="height: 400px; width: 100%; background-color: #fff;">
                <md-button ng-click="testarAuth()" class="md-primary md-raised">
                    TESTAR AUTH
                </md-button>

                {{ keypassView }}
             
              <br>
             
              <md-button ng-click="getLocation()" class="md-primary">
                     GET LOCATION
                 </md-button>

                 {{ locationDecoded }}
             </div>
        </div>       
        
    </div>
 </div>

<style>
    .container-fluid{
        width: 100%;
        max-width: 1920px;
        background-color: #eee;
        min-height: 100px;
        display: block;        
    }    
</style>


 <!-- END HOME -->
