<md-dialog>
    <form>                
        <md-dialog-content>
            <div class="md-dialog-content">                                
                <md-input-container class="md-block">
                    <label>Editar título da categoria</label>
                    <input required ng-model="categoria">                    
                </md-input-container>
                <span class="md-subheader">Observação</span>
                <p>Existem 10 produtos cadastrados com essa categoria. Caso você DESATIVAR, os produtos continuarão cadastrados porém invisíveis na loja.</p>              
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">             
            <md-button class="md-primary" ng-click="hideDialog()">sair</md-button>              
            <span flex></span>           
            <md-button class="md-warn">
                <md-icon class="material-icons">visibility_off</md-icon> desativar
            </md-button>              
            <md-button class="md-primary md-raised">
                <md-icon md-font-icon="material-icons">save</md-icon> salvar e sair
            </md-button>           
        </md-dialog-actions>
    </form>
</md-dialog>