<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ previewProduto.nome }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hideDialog()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p class="md-subheader">PREVIEW DO PRODUTO</p>
                <div layout="column">

                    <div class="produto">
                        <!-- SLIDE -->
                        <md-grid-list class="produto-slide" md-cols="1" md-row-height="430px">
                            <md-grid-tile class="loja-slide--space">                                
                                <div class="produto-img">
                                    <div class="produto-img-image" style="background-image:url('{{ previewProduto.fotoPrincipal }}');"></div>
                                    <div class="produto-img-gallery-vert" ng-if="previewProduto.fotoSecundarias.length > 0">
                                        <div class="produto-img-gallery-table" id="produto-img-gallery-roll">
                                            <div class="produto-img-gallery-table-btn"
                                                 ng-repeat="media in previewProduto.fotoSecundarias track by $index"
                                                 style="background-image: url('{{ media }}')"></div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="produto-details">
                                    <h1>{{ previewProduto.nome }}</h1>
                                    <p>R$ {{ previewProduto.preco }}</p>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>

                        <div class="container">
                            <div class="produto-details-descricao">
                                <span class="produto-details-descricao-markup">
                                    DESCRIÇÃO
                                </span>
                                <p class="produto-details-descricao-text">
                                    {{ previewProduto.descricao }}
                                </p>
                            </div>

                            <div class="produto-details-descricao">
                                <span class="produto-details-descricao-markup">
                                    LOCAL DO PRODUTO
                                </span>
                                <p class="produto-details-descricao-text">
                                    {{ previewProduto.logradouro }}
                                </p>
                                <md-button class="md-button md-raised md-primary md-button-fullwidth" ng-click="irParaLocal(previewProduto.urlmaps)">
                                    Como chegar lá?
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">            
            <span flex></span>            
            <md-button class="md-primary md-raised" ng-href="#/loja/{{ previewProduto.idLoja }}/produto/{{ previewProduto.id }}/editar">
                <md-icon md-font-icon="material-icons">edit</md-icon> editar produto
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>