<!-- HOME -->
<div ng-init="carregarProdutoNovo()">
    <div layout="column">

        <form name="produtoNovoForm" class="produto">
            <!-- SLIDE -->
            <md-grid-list class="produto-slide" md-cols="1" md-row-height="630px">
                <md-grid-tile class="loja-slide--space">
                    <div class="loja-slide-toolbar produto-slide-toolbar">
                        <md-button class="md-button" aria-label="Settings" ng-click="voltarPagina()">
                            <md-tooltip md-direction="bottom">Voltar</md-tooltip>
                            <md-icon md-font-icons="material-icons">chevron_left</md-icon> &nbsp;VOLTAR
                        </md-button>
                    </div>
                    <div class="produto-img">
                        <div class="produto-img-image" style="background-image:url('{{ produtoNovo.linkfoto }}');"></div>
                        <br />
                        <div flex layout="column" layout-align="center center" ng-controller="ImageCtrl">

                            <md-button class="md-raised"
                                       id="buttonfileuploader"
                                       value="#file_to_upload"
                                       data-file-uploader-url="//177.55.110.164:9012/api/v1/applications/dfbd894d95bd41f8970b4638033dfba2/fileuploads"
                                       data-token="dfbd894d95bd41f8970b4638033dfba2"
                                       ng-click="initiateFileUpload($event)">
                                ALTERAR FOTO
                            </md-button>

                            {{ IMAGE_MSG }}

                            <div ng-bind="IMAGE_PATH != null ? produtoNovo.linkfoto = IMAGE_PATH : ''" hide></div>

                            <input type="file" id="file_to_upload" class="hide" accept="image/*" />
                        </div>
                    </div>
                    <!-- PRODUTO.TITULO -->
                    <!-- PRODUTO.PREÇO -->
                    <div flex="100" layout="row" layout-align="center center" style="width: 100%" layout-wrap layout-padding>
                        <md-input-container flex="100">
                            <label>Título</label>
                            <input ng-model="produtoNovo.titulo" md-maxlength="45" maxlength="45" required name="titulo">
                            <div ng-messages="produtoNovoForm.titulo.$error">
                                <div ng-message="md-maxlength">Texto máximo atingido</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="100">
                            <label>Preço (R$)</label>
                            <input ng-model="produtoNovo.preco" required name="preco" type="number" ng-pattern="/^[0-9]{1,7}$/">
                            <div ng-messages="produtoNovo.preco.$error">                                
                                <span ng-show="produtoNovoForm.preco.$error.pattern">Not a valid number!</span>
                            </div>
                            <div class="hint" style="color: #aaa;"><small>Obs: separe os decimais com ponto</small></div>
                        </md-input-container>
                    </div>
                </md-grid-tile>
            </md-grid-list>

            <div class="container">

                <br />
                <!-- PRODUTO.CATEGORIA -->
                <span class="md-subheader">CATEGORIA</span>
                <md-input-container class="md-block">
                    <md-select name="categoria" required placeholder="Selecione aqui sua categoria" ng-model="produtoNovo.idcategoria" md-on-open="carregarProdutoNovoCategoria()" style="min-width: 200px;">
                        <md-option ng-repeat="categoria in produtoNovo.categorias" ng-value="1">{{ categoria }}</md-option>
                    </md-select>
                    <br />
                    <div layout="row" layout-align="end center">
                        <md-button class="md-primary">adicionar categoria</md-button>
                    </div>
                </md-input-container>

                <!-- PRODUTO.DESCRICAO -->
                <span class="md-subheader">DESCRIÇÃO</span>
                <md-input-container class="md-block">
                    <label></label>
                    <textarea name="descricao" ng-model="produtoNovo.descricao" required columns="1" md-maxlength="1000" rows="10" placeholder="Descreva o produto com máximo de detalhes a disposição como: tamanho, cor, marca, recursos e características únicas."></textarea>
                    <div ng-messages="produtoNovo.descricao.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="md-maxlength">Texto máximo atingido</div>
                    </div>
                </md-input-container>

                <br />
                <!-- SALVAR  -->
                <div layout="column">
                    <md-button class="md-primary md-raised md-button-fullwidth"
                               ng-click="salvarProduto(produtoNovo)"
                               ng-disabled="produtoNovoForm.$invalid || produtoNovoForm.$pending">
                        <md-icon md-font-icon="material-icons">save</md-icon> SALVAR
                    </md-button>
                </div>

            </div>
        </form>
    </div>
</div>

<style>
    .md-subheader{
        background-color: rgba(0,0,0,0);
        margin-top:50px;
    }

    .produtoEditar-fotosecundaria-card{
        width: 100px;
        max-width: 100px;
        height: 100px;
    }

    .produtoEditar-fotosecundaria-card-foto{
        width: 100%;
        height: 100px;       
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>

