 <div ng-init="carregaProdutos()">
    <div layout="column"> 
        
        <div class="adm-produto">
                      
            <div class="container">

                <div class="adm-loja-cabecalho" flex layout="row" layout-align="start start" layout-wrap>
                    <div flex="100" layout="row">                        
                        <md-button ng-href="#/loja/1/inicio">
                            <md-icon class="material-icons">chevron_left</md-icon> inicio
                        </md-button>                        
                    </div>
                    
                    <div layout="row" flex="100" style="height:30px"></div>
                    
                    <div flex="100" layout-padding style="text-align:center;">
                        <span class="adm-loja-cabecalho-title">PRODUTOS </span>
                        <p>12 cadastrados</p>
                    </div>
                    
                    <div flex ng-init="filterProdutos = 0">
                        <div flex layout="row" layout-align="start center">
                            <md-button class="md-icon-button" ng-click="filterProdutos = 1">                                
                                <md-icon class="material-icons">filter_list</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="filterProdutos = 2">
                                <md-icon class="material-icons">search</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="filterProdutos = 0 && filtrarProdutosLimpar()">
                                <md-icon class="material-icons">clear</md-icon>
                            </md-button>
                        </div>
                        <div flex="100" layout-padding>
                            <md-input-container class="md-block" ng-show="filterProdutos == 2">
                                <label>Digite o título do produto</label>
                                <input name="searchProdutosInputShowTermo" ng-model="termoPesquisaProdutos" ng-change="filtarProdutosTexto(termoPesquisaProdutos)" />
                            </md-input-container>
                            <div flex="100" ng-show="filterProdutos == 1" layout="row" layout-wrap>                               
                                <div flex="100">
                                    <md-select placeholder="Filtar por categoria" ng-model="termoCategoriaProdutos" md-on-open="carregaCategoriasLoja()" ng-change="filtarProdutosCategoria(termoCategoriaProdutos)" style="min-width: 200px;">
                                        <md-option ng-repeat="cat in filtroCategorias" ng-value="cat">{{cat}}</md-option>
                                        <md-option ng-click="filtrarProdutosLimpar()">Limpar pesquisa</md-option>
                                    </md-select>   
                                </div>  
                                <div flex="100" layout="row" layout-align="star center" layout-wrap>
                                    <md-button class="md-raised">
                                        <md-icon md-font-icons="material-icons">visibility_on</md-icon> mostrar desativados
                                    </md-button>                             
                                    <md-button class="md-raised">
                                        <md-icon md-font-icons="material-icons">content_cut</md-icon> mostrar promoções
                                    </md-button>                             
                                </div>                                                                                              
                            </div> 
                        </div>
                    </div>
                </div>

                <br />

                <md-list flex class="md-whiteframe-1dp">     
                    
                    <!-- REPEAT Produtos -->                                  
                    <md-list-item class="md-2-line" ng-click="previewProdutoDialog($event, 1)">
                        <img ng-src="http://static.classictennis.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/c/dc-shoes-landau-s-303010-bgm-00.jpg"
                             class="md-avatar"
                             style="margin: 0 auto; border-radius: 2px; height: 72px;width: auto; display: block; margin-right: 5px;" />
                        <div class="md-list-item-text" style="min-width: 0px; overflow: hidden;">
                            <h3 hide-xs show-gt-xs style="min-width: 0px;">DC Mandy Overboard</h3>
                            <p hide-gt-xs style="min-width: 0px;">DC Mandy Overboard</p>
                            <p style="font-family:'Roboto Condensed'">TÊNIS</p>
                        </div>
                        <div layout="row">                            
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                    <md-icon class="material-icons" >more_vert</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="editarProduto(1)"><md-icon class="material-icons">edit</md-icon> Editar</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="editarProduto(1)"><md-icon class="material-icons">visibility_off</md-icon> Desativar</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click=""><md-icon class="material-icons">arrow_upward</md-icon> Subir na fila</md-button>                                        
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click=""><md-icon class="material-icons">arrow_downward</md-icon> Descer na fila</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-list-item>
                </md-list>                             
            </div>                                                                                                                           
        </div>     
    </div>
 </div>

<style>
    md-list-item .md-no-style.md-button, md-list-item.md-no-proxy.md-button{
        padding: 0px !important;
    }
</style> 

